/* GLOBAL */
*{
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
/*HEADER*/
.header img{
    width: 250px;
}
.header ul{
    list-style: none;
    background-color: black;
    padding: 15px 0px;
    margin: 5px 0 5px;
}
.header a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px; 
}
/* Đổi tính chất của thẻ li là block => Inline */
.header ul li{
    display: inline;
    margin: 0 10px;    
} 
/* Carousel */
.carousel{
    background-image: url(../img/slider_1.jpg);
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
} 
/* Intro */
.intro__text{
    font-size: 20px;
    margin: 25px 0 40px;
}
.intro__text span{
    color: red;
    font-weight: bold;
}
.intro__left,.intro__right{
    float: left;
    width: 50%;
}
.intro__smallItem{
    float: left;
    width: 50%; 
}
.intro__items{
    padding: 0 18px 25px;
}
.intro__items img{
    width: 100%;
    display: block;
}
/* Product */
.products{
    margin-bottom: 70px;
}
.products{
    margin-bottom: 70px;
}
.products h2{
    text-align: center;
    font-size: 30px;
}
.products__item{
    float: left;
    width: 25% ;
    padding: 0px 10px;
}
.products__item img{
    width: 100%;
}
.products__item h3{
    font-size: 25px;
}
.products__item p{
    font-size: 17px;
}
.products__item button{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
}
