/* GLOBAL */
*{
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
/*HEADER*/
.header img{
    width: 250px;
}
.header ul{
    list-style: none;
    background-color: black;
    padding: 15px 0px;
    margin: 5px 0 5px;
}
.header a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px; 
}
/* Đổi tính chất của thẻ li là block => Inline */
.header ul li{
    display: inline;
    margin: 0 10px;    
} 
/* Carousel */
.carousel{
    background-image: url(../img/slider_1.jpg);
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
} 
/* Intro */
.intro__text{
    font-size: 20px;
    margin: 25px 0 40px;
}
.intro__text span{
    color: red;
    font-weight: bold;
}
.intro__left,.intro__right{
    float: left;
    width: 50%;
}
.intro__smallItem{
    float: left;
    width: 50%; 
}
.intro__items{
    padding: 0 18px 25px;
}
.intro__items img{
    width: 100%;
    display: block;
}
/* Product */
.products{
    margin-bottom: 70px;
}
.products{
    margin-bottom: 70px;
}
.products h2{
    text-align: center;
    font-size: 30px;
}
.products__item{
    float: left;
    width: 25% ;
    padding: 0px 10px;
}
.products__item img{
    width: 100%;
}
.products__item h3{
    font-size: 25px;
}
.products__item p{
    font-size: 17px;
}
.products__item button{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-top: 15px;
}
/* Banner */
.banner{
    position: relative;
    background-image: url(../img/nature.jpg);
    height: 400px;
    /* background-repeat: no-repeat; Repeat xảy ra khi kích thước của cái image
    trên nhỏ hơn kích thước của thẻ được thêm hình (repeat để phủ hết thẻ cha bên ngoài */
    background-size: cover; /* Cover: kéo dãn hình cho vừa với thẻ cha */
}
.banner__circle{
    position: absolute;
    top: 15px;
    left: 340px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
     /* rgba */
    background-color: rgba(131, 41, 39, 0.8) ; 
    /*opacity: 0.8; Làm mờ thẻ chứa nó và các thẻ con bên trong*/
    color: white;
    text-align: center;
}
.banner__circle p{
    font-size: 20px;
    margin: 0 0 20px;
}
.banner__circle p:first-child{ /*Thẻ con đầu tiên trong thẻ cha*/
    font-size: 30px;
    margin: 50px 0  0;
}
.banner__circle p:nth-child(2){ /*Thẻ con thứ 2 trong thẻ cha*/
    font-size: 80px;
    margin: 0;
}
/* Services */
.services{
    padding-top: 50px;
}
.services__content{
    width: 70%;
    margin: auto;
    text-align: center;

}
.services__items{
    float: left;
    width: 33.33%;
    padding: 0 10px;
}
.services__items i{
    font-size: 40px;
}
.services__items h2{
    margin: 10px 0px;
}
.services__items p{
    margin: 0;
}
/* Footer */
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer h2, .footer p{
    margin: 0;
}
